<a href="https://colab.research.google.com/github/Ravikaransingh44/1ST-PROGRAM/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
a=2
b=5
c=2
d=22
e=a*b*c*d
print(e)

440

In [42]:
AGE=22
print("my age is -",AGE)

my age is - 22

In [43]:
states = [
  print  (" 1-Uttar Pradesh", 241_265_000),
  print  ("2-Bihar", 131_041_000),
    print("3-Maharashtra", 128_659_000),
   print ("4-West Bengal", 100_202_000),
   print ("5-Madhya Pradesh", 88_985_000),]

 1-Uttar Pradesh 241265000
2-Bihar 131041000
3-Maharashtra 128659000
4-West Bengal 100202000
5-Madhya Pradesh 88985000

In [44]:
a="ravi"
b=" dhillon"
c=a+b
print("name-",c)

name- ravi dhillon

In [45]:
a=2
b=3
c=a+b
print(c)

5

In [46]:
ACCOUNT-[
    print("")
]

NameError: name 'ACCOUNT' is not defined

In [48]:
a=34404502
print("print account no.",a)
print("account holder name Ravikaran singh")
print("Balance",23456)

print account no. 34404502
account holder name Ravikaran singh
Balance 23456

In [52]:
""" this is for multi line comment
in python"""
print("daily routine")
print("wake up 9AM")
print("study time - 10 am to 2.00 pm")
print("free time till 4.pm")
print("playing cricket till 7pm")
print("9 pm sleep")
#this is my daily routine

daily routine
wake up 9AM
study time - 10 am to 2.00 pm
free time till 4.pm
playing cricket till 7pm
9 pm sleep

In [5]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a+b
d=a-b
print(c,d)

enter the first number22
enter the second number11
33 11

In [7]:
a=float(input("enter the first number"))#enter the first number

b=float(input("enter the second number"))#enter the second number
sub=b-a #subtraction is done
print("the subtraction of two no. is ",sub)# print statement

enter the first number55
enter the second number55.7
the subtraction of two no. is  0.7000000000000028

In [15]:
a=float(input("enter the prize of burger"))
b=float(input("enter the prize of items"))
c=float(input("enter the prize of fries"))
discount=float(input("enter the discount"))
bill=(a+b+c)*discount
finalbill=(a+b+c)-bill
print("final bill",finalbill)

enter the prize of burger100
enter the prize of items20
enter the prize of fries10
enter the discount0.3
final bill 91.0

In [ ]:
print("NAME-RAVIKARAN SINGH\nVILLAGE-SHERON\nSTUDY-BTECH(CSE)\nCGPA-8.4\nHOBBIES-PLAYING CRICKET")